<ion-header>
  <ion-toolbar>
    <ion-title>
         Baby Ruru
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <p style="text-align:center;">Login</p>
  <ion-item>
    <ion-label position="flouting">Email:</ion-label>
    <ion-input type="text" placeholder="insira o seu email" name="email" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="flouting">Senha:</ion-label>
    <ion-input type="password" name="senha" placeholder="insira sua senha" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>
  <ion-button expand=full (click)="logar()">Acessar</ion-button>
  <ion-button expand="full" href="cadastro">cadastrar</ion-button>
  <ion-button expand=full (click)="redefinir()">esqueceu a senha ?</ion-button>
</ion-content>
